
.no-auth-hero {
    position: absolute;
    background: url('../../assets/images/zha_ahi_wakrah_stadium.jpg') no-repeat center center fixed;
    background-size: cover;
    top:64px;
    bottom:35px;
    width:100%;;
    color: black;
}

.no-auth-hero h1 {
    font-size: 40px;
    position: absolute;
    top: 30%;
}