
.hero {
    position: absolute;
    background: url('../../assets/images/khalifa_stadium10.jpg') no-repeat center center fixed;
    background-size: cover;
    top:64px;
    bottom:35px;
    width:100%;;
    color: white;
}

.hero h1 {
    font-size: 40px;
}

.container-left {
    margin-top: 20px;
    width: 40%;
    text-align: left;
}

.container-right {
    width: 40%;
}