
.hero {
    position: absolute;
    background: url('../../assets/images/khalifa_stadium10.jpg') no-repeat center center fixed;
    background-size: cover;
    /* top:64px; */
    /* height: 100%; */
    width:100%;;
    color: white;
}

.hero h1 {
    font-size: 40px;
}

.container-left {
    margin-top: 20px;
    width: 40%;
    text-align: left;
}

.container-right {
    width: 40%;
    margin-bottom: 100px !important;
}

.participants-title {
    text-align: center;
}

.participants-list {
    height: 500px;
    overflow: scroll;
}
