
.hero {
    position: absolute;
    background: url('../../assets/images/khalifa_stadium10.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width:100%;;
    color: white;
}

.hero h1 {
    font-size: 40px;
}

.container-left {
    margin-top: 20px;
    width: 50%;
    text-align: left;
}

.container-right {
    width: 30%;
    margin-bottom: 100px !important;
}

#donate-button button span {
    display: inline-block;
}

#donate-button a {
    text-decoration: none;
    color: white;
}

#donate-button a:hover {
    text-decoration-line: underline;
}

.participants-title {
    text-align: center;
}


.participants-list {
    height: 500px;
    overflow: scroll;
}

.congrats {
    color: greenyellow;
}

.congrats span:first-child {
    color: white;
}

.congrats span:nth-child(2) {
    color: yellow;
}