.App {
  text-align: center;
}

.user-header {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.generate-scores {
  display: flex;
  flex-direction: row;
}

.generate-scores div {
  text-align: left;
  width: 450px;
}

.user-header Button {
  margin-left: 20px;
}

#spinner {
  position: absolute;
  top: 40%;
  left: 50%;
}

.entry-content {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-bottom: 60px;
}

.entry-content h3 {
  word-break: break-word;
  word-wrap: break-word;
  font-size: 1.25rem;
  font-weight: 600;
  clear: both;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

.admin-actions {
  position: relative;
  top: 20px;
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
}

.admin-actions button {
  margin-left: 20px;
  margin-right: 20px;
}

.admin-actions .progress-container {
  position:relative;
  top: -10px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .hero div:nth-child(1) {
        flex-direction: column;
    }
    .container-left {
        width: 85%;
    }
    .container-right {
        width: 50%;
    }
    .generate-scores div {
        width: auto;
    }
    .user-header {
        flex-direction: column;
    }
    #add-match-form div:first-child {
        flex-direction: column !important;
    }
}
